hr {color: #000000}
body {font: 13px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;background-image:url(b2.png); background-repeat:repeat;margin: 1px 2px 5px 2px;}
.rvts0,td,p{font-size:13px;color:#000000;}
.rvts1,h4{font-weight:bold;font-size:13px;color:#000000;margin:0;}
.rvts2{font-style:italic;font-size:13px;color:#000000;}
.rvts3{font-style:italic;font-weight:bold;font-size:13px;color:#000000;}
a,a.rvts4,.rvts4{font-size:13px;color:#363c65;}
a.rvts4:hover{color:#000000;}
a.rvts5,.rvts5{font-weight:bold;font-size:13px;color:#363c65;}
a.rvts5:hover{color:#000000;}
a.rvts6,.rvts6{font-style:italic;font-size:13px;color:#363c65;}
a.rvts6:hover{color:#000000;}
a.rvts7,.rvts7{font-style:italic;font-weight:bold;font-size:13px;color:#363c65;}
a.rvts7:hover{color:#000000;}
.rvts8,h6{font-weight:normal;font-size:11px;color:#000000;margin:0;}
.rvts9,h5{font-weight:bold;font-size:11px;color:#000000;margin:0;}
.rvts10{font-style:italic;font-size:11px;color:#000000;}
.rvts11{font-style:italic;font-weight:bold;font-size:11px;color:#000000;}
a.rvts12,.rvts12{font-size:11px;color:#363c65;}
a.rvts12:hover{color:#000000;}
a.rvts13,.rvts13{font-weight:bold;font-size:11px;color:#363c65;}
a.rvts13:hover{color:#000000;}
a.rvts14,.rvts14{font-style:italic;font-size:11px;color:#363c65;}
a.rvts14:hover{color:#000000;}
a.rvts15,.rvts15{font-style:italic;font-weight:bold;font-size:11px;color:#363c65;}
a.rvts15:hover{color:#000000;}
.rvts16{font-size:15px;color:#000000;}
.rvts17,h3{font-weight:bold;font-size:15px;color:#000000;margin:0;}
.rvts18{font-style:italic;font-size:15px;color:#000000;}
.rvts19{font-style:italic;font-weight:bold;font-size:15px;color:#000000;}
a.rvts20,.rvts20{font-size:15px;color:#363c65;}
a.rvts20:hover{color:#000000;}
a.rvts21,.rvts21{font-weight:bold;font-size:15px;color:#363c65;}
a.rvts21:hover{color:#000000;}
a.rvts22,.rvts22{font-style:italic;font-size:15px;color:#363c65;}
a.rvts22:hover{color:#000000;}
a.rvts23,.rvts23{font-style:italic;font-weight:bold;font-size:15px;color:#363c65;}
a.rvts23:hover{color:#000000;}
.rvts24{font-size:16px;color:#000000;}
.rvts25,h2{font-weight:bold;font-size:16px;color:#000000;margin:0;}
.rvts26{font-style:italic;font-size:16px;color:#000000;}
.rvts27{font-style:italic;font-weight:bold;font-size:16px;color:#000000;}
a.rvts28,.rvts28{font-size:16px;color:#363c65;}
a.rvts28:hover{color:#000000;}
a.rvts29,.rvts29{font-weight:bold;font-size:16px;color:#363c65;}
a.rvts29:hover{color:#000000;}
a.rvts30,.rvts30{font-style:italic;font-size:16px;color:#363c65;}
a.rvts30:hover{color:#000000;}
a.rvts31,.rvts31{font-style:italic;font-weight:bold;font-size:16px;color:#363c65;}
a.rvts31:hover{color:#000000;}
.rvts32{font-size:19px;color:#000000;}
.rvts33,h1{font-weight:bold;font-size:19px;color:#000000;margin:0;}
.rvts34{font-style:italic;font-size:19px;color:#000000;}
.rvts35{font-style:italic;font-weight:bold;font-size:19px;color:#000000;}
a.rvts36,.rvts36{font-size:19px;color:#363c65;}
a.rvts36:hover{color:#000000;}
a.rvts37,.rvts37{font-weight:bold;font-size:19px;color:#363c65;}
a.rvts37:hover{color:#000000;}
a.rvts38,.rvts38{font-style:italic;font-size:19px;color:#363c65;}
a.rvts38:hover{color:#000000;}
a.rvts39,.rvts39{font-style:italic;font-weight:bold;font-size:19px;color:#363c65;}
a.rvts39:hover{color:#000000;}
.rvts40{font-size:21px;color:#000000;}
.rvts41{font-weight:bold;font-size:21px;color:#000000;}
.rvts42{font-style:italic;font-size:21px;color:#000000;}
.rvts43{font-style:italic;font-weight:bold;font-size:21px;color:#000000;}
a.rvts44,.rvts44{font-size:21px;color:#363c65;}
a.rvts44:hover{color:#000000;}
a.rvts45,.rvts45{font-weight:bold;font-size:21px;color:#363c65;}
a.rvts45:hover{color:#000000;}
a.rvts46,.rvts46{font-style:italic;font-size:21px;color:#363c65;}
a.rvts46:hover{color:#000000;}
a.rvts47,.rvts47{font-style:italic;font-weight:bold;font-size:21px;color:#363c65;}
a.rvts47:hover{color:#000000;}
.rvts48{font-size:15px;color:#747474;}
.rvts49{font-weight:bold;font-size:15px;color:#747474;}
.rvts50{font-style:italic;font-size:15px;color:#747474;}
.rvts51{font-style:italic;font-weight:bold;font-size:15px;color:#747474;}
a.rvts52,.rvts52{font-size:15px;color:#aa630d;text-decoration:underline;}
a.rvts52:hover{color:#000000;}
a.rvts53,.rvts53{font-weight:bold;font-size:15px;color:#aa630d;text-decoration:underline;}
a.rvts53:hover{color:#000000;}
a.rvts54,.rvts54{font-style:italic;font-size:15px;color:#aa630d;text-decoration:underline;}
a.rvts54:hover{color:#000000;}
a.rvts55,.rvts55{font-style:italic;font-weight:bold;font-size:15px;color:#aa630d;text-decoration:underline;}
a.rvts55:hover{color:#000000;}
p{text-align:left;text-indent: 0px;padding: 0px;margin: 0px;}
.rvps1{text-align:center;}
.rvps2{text-align:right;}
.rvps3{text-align:justify;}
.rvps4{text-align:center;border: 1px solid #000000;background: #ff8000;}
.rvps5{text-indent: 13px;}
.input1 {vertical-align:middle;border: 1px solid #ffffff;background: #FFFFFF;font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
span.topicheader{font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
span.newsheader{font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
span.submenuseader{font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}

.pageheader {text-align:center;height:28px;}
.caption {vertical-align:middle;font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;font-size:10px;text-align:center;color:#000000;}
form {padding:0px;display:inline;margin:0px;}
img{border:0px;}
.bullet{vertical-align:middle;height:13px;width:13px;}
.ul_0_0,.ul_0_1,.ul_0_2,.ul_0_3{text-indent:0px;padding:0;margin: 0 0 0 30px;list-style-type:disc;}
.ul_0_0{margin-left:25px;}

.ul_1_0,.ul_1_1,.ul_1_2,.ul_1_3{text-indent:0px;padding:0;margin: 0 0 0 30px;list-style-type:decimal;}
.ul_1_0{margin-left:25px;}
.ul_1_1{list-style-type:lower-alpha;}
.ul_1_2{list-style-type:lower-roman;}
.ul_1_3{list-style-type:disc;}

.ul_2_0,.ul_2_1,.ul_2_2,.ul_2_3{text-indent:0px;padding:0;margin: 0 0 0 30px;list-style-type:lower-alpha;}
.ul_2_0{margin-left:25px;}
.ul_2_1{list-style-type:lower-roman;}
.ul_2_2{list-style-type:decimal;}
.ul_2_3{list-style-type:disc;}

.ul_3_0,.ul_3_1,.ul_3_2,.ul_3_3{text-indent:0px;padding:0;margin: 0 0 0 30px;list-style-type:lower-roman;}
.ul_3_0{margin-left:25px;}
.ul_3_1{list-style-type:lower-alpha;}
.ul_3_2{list-style-type:decimal;}
.ul_3_3{list-style-type:disc;}

.ul_4_0,.ul_4_1,.ul_4_2,.ul_4_3{text-indent:0px;padding:0;margin: 0 0 0 30px;list-style-type:none;}
.ul_4_0{margin-left:25px;}
.ul_4_1{list-style-type:lower-alpha;}
.ul_4_2{list-style-type:decimal;}
.ul_4_3{list-style-type:disc;}
