.sub{font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
.L{font: 15px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
.XL{font: 16px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
.XXL{font: 19px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
.XXXL{font: 21px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
.text{font: 15px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#747474;}
